################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/.vs/**
/Source/**/bin/Debug/**
/Source/**/obj/**
/Source/packages
/Source/HomeAutomation.sln.DotSettings.user
/Source/HomeAutomation.Server/bin
/Source/HomeAutomation.App/HomeAutomation.App.UWP/bin/x86/Debug
/.vs
/Source/_NCrunch_HomeAutomation
/Source/HomeAutomation.v3.ncrunchsolution.user
