################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/.vs/**
/Source/**/bin/Debug/**
/Source/**/obj/**
/Source/packages
/Source/HomeAutomation.sln.DotSettings.user
/Source/HomeAutomation.Server/bin
